%section.text-inter
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %form.form-horizontal
          %h1 Register
          .form-group
            %label.control-label.col-sm-2 Name
            .col-sm-6
              %input.form-control(type="text")
          .form-group
            %label.control-label.col-sm-2 Email Address
            .col-sm-6
              %input.form-control(type="email")
          .form-group
            %label.control-label.col-sm-2 Password
            .col-sm-6
              %input.form-control(type="password")
          .controls
            %input(type="submit" value="Sign Up" class="button solid-color")
