.banner
  %ul
    %li{ style:"background-image: url('/assets/01.jpg');"}
      .container
        .row
          .col-md-6.col-md-offset-3
            .hero-title
              Share your diet experiences
            %p.hero-content Help people to be Healthy
            =link_to "Sign up now", "", class: "hero-btn"
.container
  .arrow
.container.carousel
  .row
    .col-md-3
      .ca-hover
        .carousel-img
          =image_tag "c01.jpg", alt: "Carousel Img"
          .carousel-avatar.av1
          .carousel-content
            %h3
              Diet Plan Title
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %p This is the best diet plan ever!
          .overlay

    .col-md-3
      .ca-hover
        .carousel-img
          =image_tag "c01.jpg", alt: "Carousel Img"
          .carousel-avatar.av1
          .carousel-content
            %h3
              Diet Plan Title
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %p This is the best diet plan ever!
          .overlay
    .col-md-3
      .ca-hover
        .carousel-img
          =image_tag "c01.jpg", alt: "Carousel Img"
          .carousel-avatar.av1
          .carousel-content
            %h3
              Diet Plan Title
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %p This is the best diet plan ever!
          .overlay
    .col-md-3
      .ca-hover
        .carousel-img
          =image_tag "c01.jpg", alt: "Carousel Img"
          .carousel-avatar.av1
          .carousel-content
            %h3
              Diet Plan Title
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %span.fa-star.fa
            %p This is the best diet plan ever!
          .overlay